apiVersion: v1
kind: ConfigMap
metadata:
  name: kbs-config-cm
  namespace: trustee-operator-system
  annotations:
    argocd.argoproj.io/sync-wave: "2"
data:
  kbs-config.toml: |
    insecure_http = false
    sockets = ["0.0.0.0:8080"]
    auth_public_key = "/etc/auth-secret/key.pem"

    [admin]
    type = "DenyAll"

    [attestation_token_config]
    attestation_token_type = "CoCo"

    [repository_config]
    type = "LocalFs"
    dir_path = "/opt/confidential-containers/kbs/repository"

    [attestation_service]
    type = "CoCoASBuiltIn"

    [attestation_service.as_config]
    work_dir = "/opt/confidential-containers/attestation-service"
    attestation_token_broker = "Simple"

    [attestation_service.as_config.attestation_token_config]
    duration_min = 5

    [attestation_service.as_config.rvps_config]
    store_type = "LocalJson"

    [attestation_service.as_config.rvps_config.store_config]
    file_path = "/opt/confidential-containers/rvps/reference-values/reference-values.json"

    [policy_engine]
    policy_path = "/opt/confidential-containers/kbs/repository/default/policy.rego"
